.commercialContainer {
  margin-left: 16px;
}

.commercialList {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.commercialTab {
  font-weight: bold;
}

.customerListEmptyResult {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 450px;
  margin-left: -4px;
}


.customerListEmptyResult > p {
  font-size: 1.25rem;
  font-weight: bold;
  color: gray;
}

.mobileCustomerMenu {
  display: flex;
  flex-direction: column;
}

.mobileCustomerMenuSelectContainer {
  flex-direction: row;
  padding: 0 16px;
  gap: 8px;
  margin-bottom: 16px;
}

.mobileCustomerMenuSelect {
  width: calc(33%);
}

@media (max-width: 576px) {
  .mobileCustomerMenuSelect {
    width: 100%;
  }
  .mobileCustomerMenuSelectContainer {
    flex-direction: column;
  }
}
