.customer {
  display: flex;
  flex-direction: row;
  padding-left: 16px;
  gap: 16px;
}

.customerAccordion {
  display: none;
  margin: 0 16px 0 16px;
}

.customerAccordionContent > div > div {
  margin: 0;
  padding: 0;
}

.customerLogo {
  background-color: pink;
  object-fit: contain;
  height: 150px;
  width: 150px;
}

.customerIdentity,
.customerRelationship,
.customerPayment {
  width: calc(33% - 12px);
}

.customerItem {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

.customerClickableItem {
  cursor: pointer;
}

.sendEmail,
.callPhone {
  display: none;
}

.customerItemContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.customerItemTitle {
  display: flex;
  align-items: center;
  gap: 8px;
}

.customerItemTitle > p {
  margin: 0;
}

.contactContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

@media (max-width: 1400px) {
  .customer {
    display: none;
  }

  .customerAccordion {
    display: block;
  }

  .customerIdentity,
  .customerRelationship,
  .customerPayment {
    width: calc(100% - 16px);
  }
}
