.newCustomerInputContainer {
  display: flex;
}

.newCustomerInputContainerColumn {
  width: 50%;
}

.newCustomerLogo {
  object-fit: contain;
  height: 150px;
  width: 150px;
  margin-top: 16px;
}

#pdfViewer {
  margin-top: 8px;
}
